@use '../../styles/globals/variables' as *;

.information {
  width: 100%;
  color: #ffffff;
  background-color: #787878;
  & h3 {
    text-align: center;
    padding: 2rem;
    box-shadow: $shadow-ease;
    border-block: solid 4px #fafafa;
    border-left: solid 1px #1e263d99;
  }
  & h1 {
    margin: 1rem;
  }

  & p {
    margin: 1rem;
  }
  &article {
    padding: 0.5rem;
  }
}
.steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.5rem, 1fr));
  margin-top: 1rem;
  grid-auto-flow: row;
}

.growUp {
  font-size: 2.5rem;
}
