@use "../../styles/globals/variables" as *;

.listAppointment {
  padding: 1rem;
  margin-top: 5rem;
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.cardAppointment {
  margin-block: 1rem;
  padding: 1.5rem;
  width: 30rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  font-size: 1rem;
  transition: 0.5s ease;
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: $shadow-ease;
}

.cardAppointment:hover {
  border: solid 0.5px #117f7a;
}

.cardName {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  gap: 1rem;
  text-align: start;
  align-items: center;
}

.cardInfo {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}

.cardImg {
  width: 8rem;
  border-radius: 50%;
  object-fit: contain;
}
.cardIcons {
  padding-top: 1rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardIcons img {
  width: 3rem;
  padding-bottom: 1rem;
}
.advisorIcon {
  padding-bottom: 1.5rem !important;
}
.cardIcons h5 {
  color: #787878;
}
@media screen and (max-width: 768px) {
  .cardAppointment {
    width: 100%;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  .cardName {
    font-size: 0.9em;
    justify-content: center;
  }

  .cardIcons {
    justify-content: flex-start;

    h5 {
      font-size: 0.8rem;
      text-align: center;
      color: #000000;
    }
  }
  .cardImg {
    width: 5rem;
  }
  .advisorIcon {
    padding-bottom: 2.5rem !important;
    width: 2rem !important;
  }
}
