@use '../../styles/globals/variables' as *;

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.5rem, 1fr));
  gap: clamp(2.875rem, 3vw, 6rem);
  background-color: rgb(79, 79, 79);
  color: #fff;
  font-size: clamp(1rem, 1.2vw, 2.4rem);
  padding: clamp(3rem, 5vw, 10rem) clamp(1rem, 3vw, 6rem) clamp(3rem, 5vw, 10rem) clamp(1rem, 3vw, 6rem);
  font-family: $font-family;
  padding-bottom: 7rem;
  &-title{
    font-size: clamp(1.5rem, 2vw, 4rem);
    font-weight: 700;
    color:#fff;
  }&-cont{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
  @media (min-width: 48rem) {
    padding: clamp(3rem, 5vw, 10rem) clamp(1rem, 3vw, 6rem) clamp(3rem, 5vw, 10rem) clamp(1rem, 3vw, 6rem);
  }&-cont{
    flex-direction: row;
    justify-content: space-between;
  }&-detail-cont{
   width: 33%;
  }

  @media (min-width: 90rem) {
    justify-items: center;
  }
  &-li {
    list-style:none;
  }
}
