.form-register {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  padding: clamp(1rem, 1.5vw, 3rem);
  &-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
    gap: 1.25rem;
  }
}
