.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    &-cont{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
        input{
            width: 100%;
            border-radius: 1.875rem;
            border: 0.0625rem solid #246AA7;
            padding-left: 0.5rem;
            padding: clamp(0.5rem, 0.5vw, 1rem);;
        }
    }
    h2{
        font-size: clamp(0.8rem, 1.5vw, 3rem);
    }
    p{
        font-size: clamp(0.6rem, 1vw, 3rem);
    }
    &-label{
        font-size: clamp(0.7rem, 1vw, 3rem);
        padding-bottom: 0.3rem;
    }
    &-email-cont{
        &-false{
            display: none;
        }
        &-true{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            align-items: center;
            width: 100%;       
        }
    }
    &-password-cont{
        &-false{
            display: none;
        }
        &-true{
            display: flex;
            flex-direction: column;
            padding: 1rem;
            align-items: center;
            width: 100%;
        }
    }
    &-button-back,
    &-button-submit,
    &-button-next{
        cursor: pointer;
        font-size: clamp(0.6rem, 1.5vw, 2rem);
        padding: clamp(0.5rem, 0.5vw, 1rem);
        background-color: #246AA7;
        color: #fff;
        transition: 0.5s ease-in-out;
        border-radius: 1.875rem;
        width: 100%;
        margin-bottom: 1.5rem;
        border: none;
    }
    &-button-cont{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        a{
            font-size: clamp(0.6rem, 1vw, 3rem);
            color:#246AA7;
        }
    }
    &-errors{
        color:red;
        font-size: 0.8rem;
        margin-top: 0;
    }
}

.register-option{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    a{
        margin-left: 0.5rem;
        cursor: pointer;
        font-size: clamp(0.6rem, 1vw, 3rem);
        color:#246AA7;
    }
}

.errors{
    color: red
}

@media (min-width: 768px) {
      .login-form{
        margin-top: 8rem;
        &-button-back,
        &-button-submit,
        &-button-next{
            font-size: clamp(0.6rem, 1vw, 2rem);
        }
      }
    }

@media (min-width: 1440px){
    .login-form-submit-cont{
        width: 100%;
        padding-left: 35rem;
        padding-right: 35rem;
    }
}