.login-cont{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border-radius: 30px;
    padding: 1.5rem;
    align-items: center;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.login-cont button{
    border: black
}

.login-form{
    display: flex;
    flex-direction: column;
}
.login-form-cont{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
.register-option{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.register-option span{
    margin-left: 0.5rem;
}
.errors{
    margin: 2rem;
    color: red
}