@use '../../styles/globals/variables' as *;

.header {
  color: black;
  width: 100%;
  padding: clamp(1rem, 1.5vw, 3rem);
  font-size: clamp(0.9rem, 1.5vw, 3rem);
  background-color: #ffffff;
  position: fixed;
  z-index: 2;

  @media (min-width: 768px) {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: auto;
    box-shadow: $shadow-ease;
  }

  &-mobile {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }

  &-logo {
    margin: -5px 0;
    padding: 0;
  }

  &-cont-input {
    display: none;
    gap: 0.625rem;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  &-input {
    box-shadow: $shadow-ease;
    border: 1px solid #836a6a;
    border-radius: 0.625rem;
    color: #000;
    font-size: clamp(1rem, 1.2vw, 2.4rem);
    padding: clamp(0.3125rem, 0.5vw, 1rem);
    width: clamp(19rem, 30vw, 60rem);

    &:focus {
      outline: none;
    }
  }

  &-menu-mobile {
    border: none;
    @media (min-width: 64rem) {
      display: none;
    }
  }

  &-open-menu {
    position: absolute;
    position: relative;
    transition: transform 0.3s;
    cursor: pointer;
  }

  &-path-1 {
    position: absolute;
    transform: rotateY(0deg);
    transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
  }

  &-path-2 {
    top: 0;
    position: absolute;
    opacity: 1;
    transition: ease-in-out 0.5s;
  }

  &-path-3 {
    transform: rotate(0deg);
    transition: ease-in-out 0.5s;
  }

  &-open-path-1 {
    transform: translateX(0.4rem) translateY(0.1rem) rotate(45deg);
    transform-origin: top left;
  }

  &-open-path-2 {
    transform: translateX(-100%);
    opacity: 0;
  }

  &-open-path-3 {
    transform: translateX(0.4rem) translateY(0.1rem) rotate(-45deg);
    transform-origin: bottom left;
  }
}