.nav {
  position: absolute;
  top: -190%;
  background-color: #000;
  padding: clamp(2rem, 3vw, 6rem) clamp(10rem, 13vw, 26rem) clamp(2rem, 3vw, 6rem) clamp(1rem, 1.5vw, 3rem);
  color: #fff;
  right: 0;
  transform: translateX(100%);
  transition: ease-in-out 0.5s;
  border-bottom-left-radius: 0.9375rem;
  border-top-left-radius: 0.9375rem;
  z-index: 1;
  @media (min-width: 48rem) {
    top: 100%;
  }
  @media (min-width: 64rem) {
    background-color: transparent;
    top: 0;
    transform: translateY(0%);
    position: relative;
    color: #000;
    padding: 0;
  }
  &-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media (min-width: 64rem) {
      flex-direction: row;
      padding-inline: clamp(3rem, 4vw, 8rem);
      padding-left: clamp(8rem, 10vw, 20rem);
      gap: clamp(1.5rem, 3vw, 6rem);
    }
  }
  &-link {
    font-size: clamp(1rem, 1.4vw, 2.8rem);
    font-weight: 600;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #fff;
      transition: width 0.3s, padding-bottom 0.3s;
      @media (min-width: 64rem) {
        background-color: #000;
      }
    }
    &:hover::before {
      width: 100%;
      padding-bottom: 1px;
    }
  }
}
.openNavbar {
  transform: translateX(0%);
}
