@use "../../styles/globals/variables" as *;

.videocalling {
  font-size: 1em;
  margin-top: 5rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  overflow: hidden;
  gap: 0px !important;
  transform: scale(0.9);

  .pictureSpecialist {
    object-fit: cover;
    border-radius: 10rem;
    width: 10rem;
    height: 10rem;
  }
}
.tittleCalling {
  text-align: center;
}
.jitsiCalling {
  margin-top: 5rem;
  height: 30rem;
}
.buttonsV {
  width: 15rem;
  font-weight: 700;
  font-size: 1rem;
  box-shadow: $shadow-ease;
  padding: 0.8rem;
  border: solid #117f7a;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #117f7a;
  transition: 0.3s ease;
  cursor: pointer;
}
.buttonsV:hover {
  color: #117f7a;
  background-color: #ffffff !important;
}
.buttonsV1 {
  width: 15rem;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.8rem;
  border: solid #117f7a;
  box-shadow: $shadow-ease;
  border-radius: 0.5rem;
  color: #000000;
  transition: 0.3s ease;
  cursor: pointer;
}
.buttonsV1:hover {
  color: #117f7a;
  background-color: #ffffff !important;
}

.problemButton {
  width: 100%;
  padding: 0.5rem;
  border: unset;
  border-radius: 0.5rem;
  box-shadow: $shadow-ease;
  color: #000000;
  transition: 0.3s;
  cursor: pointer;
}

.problemButton:hover {
  border: solid 1px#117f7a;
}
.appointmentInfo {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 2rem;
  padding: 1rem;
  box-shadow: $shadow-ease;
}

.divInfo {
  width: 100%;
  padding: 2rem;
}
.divInfo2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

  & a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
}

.specialistInfo {
  display: flex;
  margin-top: 2rem;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  line-height: 2rem;
}

.calling {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.calling h4 {
  width: 80%;
  text-align: center;
}

.contactInfo {
  display: flex;
}

@media screen and (max-width: 768px) {
  .appointmentInfo {
    flex-direction: column;
    font-size: 1rem !important;
    margin: unset;
  }

  .buttonsV {
    width: 35rem;
    padding: 0.5rem;
  }

  .buttonsV1 {
    width: 20rem;
    padding: 0.4rem;
    font-size: 0.9rem;
  }

  .divInfo2 {
    flex-direction: column;
  }
}
